html {
  min-width: 480px;
  width: 100%;
}


._header .form-control-dark {
    border-color: var(--bs-gray);
  }
  
._header .form-control-dark:focus {
border-color: #fff;
box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

._header .text-small {
font-size: 85%;
}

._header .dropdown-toggle {
outline: 0;
}

._header .bi {
vertical-align: -.125em;
fill: currentColor;
}