/* -------------------- post Page -------------------- */
._content .boards_post {
    min-height: 480px;
    height: calc( 100% - 73px - 24px - 24px - 24px - 63px );
    margin: 0 auto;
    
}

._content .boards_post_contents {
    min-width: 480px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
