{% extends 'base_pre.html' %}

{% load static %}

{% block headerhead %}
<link href="{% static "css/header.css" %}" rel="stylesheet">
<link href="{% static "css/login_modal.css" %}" rel="stylesheet">
{% endblock headerhead %}

{% block headerpremain %}
{% endblock headerpremain %}


{% block header %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Simple header</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page" id="page_home">Home</a></li>

            {% if user.is_authenticated %}
            <li class="nav-item"><a href="#" class="nav-link" id="page_ai_train">AI train</a></li>
            <li class="nav-item"><a href="#" class="nav-link" id="page_ai_predict">AI predict</a></li>
            <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link">Log Out</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'account:register' %}" class="nav-link" id="page_register">Register</a></li>
            <li class="nav-item"><a id="login_modal" data-bs-target="#login-modal" href="#" class="nav-link" type="button">Log In</a></li>
            {% endif %}
            
        </ul>
    </header>
    {% if user.is_authenticated %}
    
    {% else %}
    {% include "login_modal.html" %}
    {% endif %}
</div>
{% endblock header %}

{% block headerjs %}
{% if user.is_authenticated %}
<script>
</script>
{% else %}
<script>
    $('#login_modal').on("click",(event) => {
        event.preventDefault();
        $('#modalSignin').modal("show");
    });

</script>
{% endif %}

<script>
    {% comment %} $("#page_home").addClass("active"); {% endcomment %}
    {% comment %} $("#page_home").removeClass("class_name"); {% endcomment %}
    {% comment %} document.getElementById("page_home").classList.add("active"); {% endcomment %}
</script>

{% endblock headerjs %}