{% comment %} <div class="modal" tabindex="-1" id="modalSignin">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div> {% endcomment %}

{% comment %} d-block 블록을 만든다. {% endcomment %}
{% comment %} position-static 위치가 고정된다? {% endcomment %}
{% comment %} data-bs-backdrop="static" 모달 외부를 클릭해도 모달이 종료되지 않는다. {% endcomment %}
{% comment %} bg-secondary 백그라운드를 만든다. {% endcomment %}

<div class="modal modal-signin py-5 fade" tabindex="-1" role="dialog" id="modalSignin" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                <h1 class="fw-bold mb-0 fs-2">Log In</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body p-5 pt-0">
                {% include "login_modal_form.html" %}
                
                <hr class="my-4">
                <h2 class="fs-5 fw-bold mb-3">비밀번호를 잊으셨다면...</h2>
                <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" onclick = "location.href = '{% url "account:password_reset" %}' ">
                    비밀번호 찾기
                </button>
            </div>
        </div>
    </div>
</div>

<script>
$('#login_form').on('submit', (event) => {
    event.preventDefault();
    var formData = new FormData(event.target);
    var csrfToken = $('[name=csrfmiddlewaretoken]').val();
    $.ajax({
        url: "{% url 'account:login' %}",
        method: 'POST',
        headers: {
                 'X-CSRFToken': csrfToken,
                 },
        data: formData,
        processData: false,
        contentType: false,
        success: (data) => {
            if (data.status === 'success') {
                // 로그인 성공
                location.href = "{% url 'index' %}";
            }
            else if (data.status === 'error') {
                // 로그인 실패
                alert('로그인 실패');
                $('[name=csrfmiddlewaretoken]').val(data.csrf_token);
            }
        },
        error: (data) => {
            alert('알 수 없는 오류가 발생했습니다. 잠시 뒤에 다시 시도해주세요.');
            // $('[name=csrfmiddlewaretoken]').val(data.csrf_token);
        }
    });
});
</script>