{% extends "base.html" %}

{% load static %}

{% block contenthead %}
<title>Password Reset</title>

<link href="{% static "account/css/register.css" %}" rel="stylesheet">
{% endblock contenthead %}


{% block contentpremain %}
{% endblock contentpremain %}

{% block content %}
<div class="bodydiv">
    <div class="form-signin m-auto">
        <div class="text-center">
            <svg class="mb-4" width="72" height="57"><use xlink:href="#bootstrap"/></svg>
            <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
        </div>

        <div class="alert alert-success">
            <div class="text-center">
                <strong>비밀번호 초기화를 위한 링크가</strong>
                <br>
                <strong>이메일로 발송되었습니다.</strong>
            </div>
        </div>

        <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='{% url 'index' %}'">홈으로 이동하기</button>
    </div>
</div>
{% endblock content %}

{% block contentjs %}
<script>
</script>
{% endblock contentjs %}