{% extends "base.html" %}

{% load static %}

{% block contenthead %}
<title>Password Reset</title>

<link href="{% static "account/css/register.css" %}" rel="stylesheet">
{% endblock contenthead %}


{% block contentpremain %}
{% endblock contentpremain %}

{% block content %}
<div class="bodydiv">
    <div class="form-signin m-auto">
        <form method="post" action="{% url 'account:password_reset' %}" novalidate>
            {% csrf_token %}
            <div class="text-center">
                <svg class="mb-4" width="72" height="57"><use xlink:href="#bootstrap"/></svg>
                <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
            </div>
         
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control rounded-3" id="register_floatingemail" value="{{ form.email.value|default_if_none:'' }}" placeholder="eamil" required>
                <label for="register_floatingemail">Email address</label>
            </div>
                                    
            {% if form.email.errors %}
            <div class="alert alert-danger">
                <div>
                    <strong>{{ form.email.label }}</strong>
                    {{ form.email.errors }}
                </div>
            </div>
            {% endif %}

            {% if error %}
                <div class="alert alert-danger">
                    <div>
                        <strong>이메일이 존재하지 않습니다.</strong>
                    </div>
                </div>
            {% endif %}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Email Confirm</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block contentjs %}
<script>
</script>
{% endblock contentjs %}