{% extends "base.html" %}

{% load static %}

{% block contenthead %}
<title>Password Reset</title>

<link href="{% static "account/css/register.css" %}" rel="stylesheet">
{% endblock contenthead %}


{% block contentpremain %}
{% endblock contentpremain %}

{% block content %}
{% if validlink %}
<div class="bodydiv">
    <div class="form-signin m-auto">
        <form method="post" novalidate>
            {% csrf_token %}


            <div class="text-center">
                <svg class="mb-4" width="72" height="57"><use xlink:href="#bootstrap"/></svg>
                <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
            </div>

            <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">


            <div class="form-floating mb-3">
                <input type="password" name="new_password1" class="form-control rounded-3" id="password_reset_floatingpassword1" value="{{ form.new_password1.value|default_if_none:'' }}" placeholder="eamil" required>
                <label for="password_reset_floatingpassword1">Password</label>
            </div>
                                    
            {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                <div>
                    <strong>{{ form.new_password1.label }}</strong>
                    {{ form.new_password1.errors }}
                </div>
            </div>
            {% endif %}

            <div class="form-floating mb-3">
                <input type="password" name="new_password2" class="form-control rounded-3" id="password_reset_floatingpassword2" value="{{ form.new_password2.value|default_if_none:'' }}" placeholder="eamil" required>
                <label for="password_reset_floatingpassword2">Password Confirm</label>
            </div>
                                    
            {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                <div>
                    <strong>{{ form.new_password2.label }}</strong>
                    {{ form.new_password2.errors }}
                </div>
            </div>
            {% endif %}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Password Reset</button>
        </form>
    </div>
</div>
{% else %}
<div class="bodydiv">
    <div class="form-signin m-auto">
        <div class="text-center">
            <svg class="mb-4" width="72" height="57"><use xlink:href="#bootstrap"/></svg>
            <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
        </div>

        <div class="alert alert-success">
            <div class="text-center">
                <strong>유효하지 않은 페이지입니다.</strong>
            </div>
        </div>

        <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='{% url 'index' %}'">홈으로 이동하기</button>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block contentjs %}
<script>
</script>
{% endblock contentjs %}